.navbar {
  background-color: rgba(50, 50, 50, 0.2);
  min-width: 1100px;
  /* display: flex;
  justify-content: space-between;
  ;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
   */
}
.bar-image-and-buttons {
  display: flex;
}
.head-img {
  height: 75px;
  width: auto;
}
.navbar-set {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar-set > * {
  margin-left: 20px;
}
