@use '../utils/scrollbar' as scrollbar;

.order-box {
  @include scrollbar.initial-scrollbar();
  padding-right: 8px;

  overflow-x: hidden;
  overflow-y: auto;

  &.with-fixed-navbar{
    top:100px;
  }
}

.offcanvas-small *{
  font-size: 0.75rem;
}

.order-col-flex {
  transition: flex 0.3s ease;

  &.order-box-flex {
    flex: 0 0 0px;

    &.current-active {
      flex: 0 0 58.33333333%;
    }
  }
}
