#overall
.git
.env
not_needed
#api
api/.pytest_cache
api/django_static
api/venv
api/tests
api/pytest.ini
api/media
api/*.json
api/*/migrations/*
!api/*/migrations/__init__.py
#front
front/node_modules
front/django_static
front/build
front/dist
