body {
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
  min-width: 990px;
}
.content-box {
  position:relative;
  margin-top: 50px;
  padding: 10px 10px 0px;
  background: #f8f9fa;
  opacity: 0.9;
  border-width: 0px;
  border-radius: 5px;
  border-color: #B6B6B6;
  border-style: solid;
  min-width: 710px;
  width: 78vw;
  height: auto;
  min-height: calc(95vh - 150px);
}
