* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

@mixin little-size($size: 0.8em) {
  font-size: $size
}

#content-box {
  position:relative;
  padding: 10px 10px 10px;
  background: #f8f9fa;
  opacity: 0.9;
  border-width: 0px;
  border-radius: 5px;
  border-color: #B6B6B6;
  border-style: solid;
  height: auto;
  hyphens: auto;

  &.small-text{
    @include little-size($size: 0.85rem)
  }

  &.small-text input{
    @include little-size
  }

  &.small-text button {
    @include little-size($size: 0.85em)
  }
}
