.select-box {
  position: relative;

  .compact & {
    width: 100%;
  }
}

.custom-select {
  appearance: none;
  height: inherit;
  padding: 0.625em 2em 0.625em 1em;
  transition: all 0.4s ease-in-out;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

  option {
    padding-right: 2em;
    padding-left: 1em;
  }

  .compact & {
    text-align: center;
  }

  &:hover {
    border: 1px solid var(--bs-attention-color);
  }

  &:focus {
    outline: none;
  }

  &.open {
    border: 1px solid var(--bs-attention-color);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);

    & ~ .triangle {
      transform: rotate(180deg);
      border-top-color: var(--bs-choose-color);
    }
  }

  &::-ms-expand {
    display: none;
  }

  & ~ .triangle{
    position: absolute;
    right: 0.5em;
    top: 1.125em;
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.625em solid black;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }
}
